
.form-input{
    margin-bottom: 10px;
    /*width: 80%;*/
    height: 50px;
}

/*.flex-group{*/
/*    margin-left: 1px;*/
/*}*/

label{
    display: inline-block;
}

.my-btn{
    width: 20%;
}

.my-table{
    /*background-color: #6f42c1;*/
}
